.input__search {
  height: 100%;
  flex: 1;
  @include flex(flex-start, center);
  position: relative;

  & svg {
    @include vertical-align;
    left: 0;

    @include responsive(lg-screen) {
      left: 10px;
    }
  }

  & input {
    height: 100%;
    width: 100%;
    border: 0;
    background-color: $white;
    @include style-text(1.5rem, 600, 1.5rem, $text-color);
    padding-right: 2rem;
    outline: none;
    padding-left: 35px;
    @include responsive(lg-screen) {
      padding-left: 45px;
    }
  }
}

.input-common {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;

  & input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    @include style-text(1.6rem, 600, 1.8rem, $text-color);
    padding-right: 1.2rem;
  }

  & btn {
  }
}

.list {
  &-heading {
    @include style-text(1.8rem, 600, 2.6rem, $text-color);
    margin-bottom: 0.6rem;
  }

  &-subheading {
    @include style-text(1.4rem, 500, 2.2rem, $text-color);
    margin-bottom: 0.6rem;
  }

  &-item {
    @include flex(flex-start, center);
    cursor: pointer;
    padding: 1.6rem 2.4rem;

    &:hover {
      background-color: $gray-color-2;
    }

    & svg {
      margin-right: 2rem;
    }

    &-name {
      flex: 1;
      @include style-text(1.6rem, 600, 2.4rem, $primary-color);
    }
  }
}

.tabs {
  display: flex;
  align-items: center;
  width: 100%;

  &-item {
    cursor: pointer;
    flex: 1;
    border-bottom: 1px solid $gray-color-2;
    padding: 1rem 1.2rem;
    text-align: center;

    & a {
      @include style-text(1.6rem, 500, 2.6rem, $primary-color);
    }

    &-active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: $text-color;
      }
      & a {
        color: $text-color;
      }
    }
  }
}

.input__checkbox {
  width: 20px;
  height: 20px;
  border: 3px solid $primary-color;
  cursor: pointer;
  @include flex-center;
  transition: all 0.2s linear;

  &-square {
    border-radius: 4px;
  }

  &-circle {
    border-radius: 50%;
  }

  @include responsive(sm-screen) {
    width: 24px;
    height: 24px;
  }

  & svg {
    fill: $white;
    font-size: 1.7rem;
  }

  &-active {
    background-color: $primary-color;
  }
}

.input__radio {
  border: 3px solid $primary-color;
  cursor: pointer;
  @include flex-center;
  transition: all 0.2s linear;
  border-radius: 50%;
  height: 20px;
  width: 20px;

  @include responsive(sm-screen) {
    width: 24px;
    height: 24px;
  }

  & svg {
    fill: $white;
    font-size: 1.7rem;
  }

  &-active {
    position: relative;

    &::after {
      content: "";
      @include center-absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $primary-color;

      @include responsive(sm-screen) {
        width: 13px;
        height: 13px;
      }
    }
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3000;
  @include flex-center;

  &-loading {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: $white;
    @include flex-center;

    & svg {
      font-size: 4rem;
      color: $primary-color;
      animation: spinner 1s linear infinite;
    }
  }
}

.tag {
  @include style-text(1.4rem, 500, 2rem, $text-color);
  user-select: none;
  padding: 0.8rem 1.6rem;
  background-color: $gray-color-2;
  cursor: pointer;
  display: inline-block;
  border-radius: 16px;
  transition: all 0.2s linear;
  @include flex-center;

  & svg {
    margin-right: 0.3rem;
    font-size: 1.6rem;
  }

  &:hover {
    opacity: 0.8;
  }

  &-disabled {
    opacity: 0.5rem;
    pointer-events: none;
  }

  &-active {
    background-color: $primary-color;
    color: $white;

    & svg {
      color: $white;
    }
  }
}

.tag__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;

  &-item {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.item__select {
  @include flex(space-between, center);
  padding-block: 16px;
  cursor: pointer;
  &:hover {
    background-color: $gray-color-2;
  }

  &-info {
    flex: 1;
    margin-right: 1rem;

    &-title {
      @include style-text(1.6rem, 500, 2.4rem, $text-color);
    }
  }

  &-action {
    @include flex-center;
  }
}

.success__screen {
  @include fixed(0, 0, 0, 0);
  z-index: 2000;
  background-color: $success;
  @include flex-center;

  &-inner {
    display: flex;
    flex-direction: column;
    @include responsive(lg-screen) {
      flex-direction: row;
    }

    &-left {
      @include flex-center;
      width: 100%;

      @include responsive(lg-screen) {
        width: 30%;
      }

      & svg {
        max-width: 350px;
      }
    }

    &-right {
      padding: 2rem;
      width: 100%;
      @include responsive(lg-screen) {
        width: 70%;
      }

      & h1 {
        @include style-text(2.4rem, 600, 3.4rem, $white);
        @include responsive(md-screen) {
          @include style-text(3.4rem, 600, 4.4rem, $white);
        }
        text-align: center;
        margin-bottom: 3rem;
      }

      & button {
        margin: 0 auto;
        background-color: $white;
        color: $primary-color;
        font-weight: 600;

        &:hover {
          opacity: 0.8;
          color: $primary-color;
          background-color: $white;
        }
      }
    }
  }
}

.alert__screen {
  @include fixed(0, 0, 0, 0);
  background-color: $alert-bg;
  z-index: 2000;

  &-inner {
    height: 100%;
    @include flex(flex-start, center);
    flex-direction: column;
    margin-top: 10rem;
  }

  &-title {
    text-align: center;
    @include style-text(2.4rem, 600, 3.4rem, $white);
    @include responsive(md-screen) {
      @include style-text(3rem, 600, 4rem, $white);
    }
    margin-block: 5rem;
  }

  &-actions {
    @include flex(flex-start, center);

    &-close-btn {
      height: 48px;
      width: 48px;
      border-radius: 50%;
      @include flex-center;
      margin-right: 2rem;
    }

    &-confirm-btn {
      background-color: $danger;
      &:hover {
        background-color: $danger;
      }
    }
  }
}

.file-image-pickup {
  width: 120px;
  height: 100px;
  background-color: $gray-color-2;
  border: 1px solid $gray-color-1;
  border-radius: 4px;
  @include flex-center;
  cursor: pointer;
  position: relative;

  & svg {
    color: $text-color-2;
    font-size: 3.6rem;
  }

  & .file-image-loading {
    position: absolute;
    inset: 0;
    z-index: 10;
    background-color: $white;
    pointer-events: none;
    @include flex-center;
  }
}

.file-image-action {
  @include style-text(1.2rem, 500, 1.8rem, $primary-color);
  text-align: center;
  cursor: pointer;
  margin-top: 0.6rem;
  display: block;
}

.place-suggestion {
  & input {
    background-color: $gray-color-2;
  }
}

.page-not-found {
  @include flex-center;
  flex-direction: column;

  & svg {
    max-height: 250px;
  }
}

.loading-box {
  padding-block: 50px;
  @include flex-center;

  & svg {
    font-size: 4rem;
  }
}

.toggle {
  display: block;
  position: relative;
  height: 24px;
  width: 46px;
  border-radius: 25px;
  background-color: $gray-color-2;
  cursor: pointer;
  transition: all 0.2s linear;

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;
    left: 4px;
    @include vertical-align(absolute);
    transition: all 0.2s linear;
  }

  &-active {
    background-color: $primary-color;

    &::after {
      transition: all 0.2s linear;
      left: 24px;
    }
  }
}

.alert-container {
  @include fixed(0, 0, 0, 0);
  z-index: 3000;

  & .alert__body {
    background-color: $white;
    overflow: hidden;
    @include center-absolute();
    z-index: 10;
    border-radius: 16px;
    max-width: 300px;
    width: 100%;

    @include responsive(sm-screen) {
      max-width: 400px;
      width: 100%;
    }

    &-content {
      @include flex-center;
      flex-direction: column;
      padding: 20px 20px 40px 20px;
      box-shadow: $shadow-1;

      &-icon {
        color: $danger;
        font-size: 5rem;
        margin-bottom: 1.4rem;
      }

      &-heading {
        @include style-text(2.2rem, 600, 3rem, $danger);
        margin-bottom: 2rem;
      }

      &-title {
        @include style-text(1.4rem, 500, 2rem, $text-color);
        text-align: center;
      }
    }

    &-action {
      display: flex;

      & button {
        padding-block: 1.2rem;
        @include flex-center;
        flex: 1;
        font-size: 1.5rem;
        font-weight: 600;
      }

      &-confirm {
        background-color: $danger;
        color: $white;
      }

      &-cancel {
        background-color: $secondary;
        color: $text-color;
      }
    }
  }

  & .alert-overlay {
    @include absolute(0, 0, 0, 0);
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
}

.countdown-minute {
  @include style-text(1.8rem, 600, 2.6rem, $text-color);
}
