.input__search {
  height: 100%;
  flex: 1;
  @include flex(flex-start, center);
  position: relative;

  & svg {
    @include vertical-align;
    left: 0;

    @include responsive(lg-screen) {
      left: 10px;
    }
  }

  & input {
    height: 100%;
    width: 100%;
    border: 0;
    background-color: $white;
    @include style-text(1.5rem, 600, 1.5rem, $text-color);
    padding-right: 2rem;
    outline: none;
    padding-left: 35px;
    @include responsive(lg-screen) {
      padding-left: 45px;
    }
  }
}

.input-common {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;

  & input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    @include style-text(1.6rem, 600, 1.8rem, $text-color);
    padding-right: 1.2rem;
  }

  & btn {
  }
}

.list {
  &-heading {
    @include style-text(1.8rem, 600, 2.6rem, $text-color);
    margin-bottom: 0.6rem;
  }

  &-subheading {
    @include style-text(1.4rem, 500, 2.2rem, $text-color);
    margin-bottom: 0.6rem;
  }

  &-item {
    @include flex(flex-start, center);
    cursor: pointer;
    padding: 1.6rem 2.4rem;

    &:hover {
      background-color: $gray-color-2;
    }

    & svg {
      margin-right: 2rem;
    }

    &-name {
      flex: 1;
      @include style-text(1.6rem, 600, 2.4rem, $primary-color);
    }
  }
}

.tabs {
  display: flex;
  align-items: center;
  width: 100%;

  &-item {
    cursor: pointer;
    flex: 1;
    border-bottom: 1px solid $gray-color-2;
    padding: 1rem 1.2rem;
    text-align: center;

    & a {
      @include style-text(1.6rem, 500, 2.6rem, $primary-color);
    }

    &-active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: $text-color;
      }
      & a {
        color: $text-color;
      }
    }
  }
}

.input__radio {
  border-radius: 50%;
}

.input__checkbox,
.input__radio {
  width: 20px;
  height: 20px;
  border: 3px solid $primary-color;
  cursor: pointer;
  @include flex-center;
  transition: all 0.2s linear;

  @include responsive(sm-screen) {
    width: 24px;
    height: 24px;
  }

  & svg {
    fill: $white;
    font-size: 1.7rem;
  }

  &-active {
    background-color: $primary-color;
  }
}

.input__checkbox {
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3000;
  @include flex-center;

  &-loading {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: $white;
    @include flex-center;

    & svg {
      font-size: 4rem;
      color: $primary-color;
      animation: spinner 1s linear infinite;
    }
  }
}

.tag {
  @include style-text(1.4rem, 500, 2rem, $text-color);
  user-select: none;
  padding: 0.8rem 1.6rem;
  background-color: $gray-color-2;
  cursor: pointer;
  display: inline-block;
  border-radius: 16px;
  transition: all 0.2s linear;
  @include flex-center;

  & svg {
    margin-right: 0.3rem;
    font-size: 1.6rem;
  }

  &:hover {
    opacity: 0.8;
  }

  &-disabled {
    opacity: 0.5rem;
    pointer-events: none;
  }

  &-active {
    background-color: $primary-color;
    color: $white;

    & svg {
      color: $white;
    }
  }
}

.tag__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;

  &-item {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
