// .modal {
//   position: fixed;
//   inset: 0;
//   background-color: $white;
//   z-index: 2000;
//   display: flex;
//   flex-direction: column;
//   padding-bottom: 2rem;
//   overflow-y: auto;

//   &-header {
//     display: flex;
//     padding: 8px 20px;
//     height: 62px;

//     &-heading {
//       @include style-text(1.6rem, 600, 2.6rem, $text-color-2);
//     }

//     & .input-common {
//       & button {
//         margin-right: 1rem;
//       }
//     }

//     &-btn {
//       @include flex-center;
//       margin-right: 2rem;
//       & svg {
//         transform: rotate(180deg);
//       }
//     }

//     &-child {
//       flex: 1;
//       display: none;
//       @include flex(flex-center, center);
//     }
//   }

//   &-body {
//     flex: 1;
//   }

//   // Rides Search
//   & .rides__search-modal {
//     &-list {
//       &-item {
//         border: 1px solid $gray-color-2;
//         &:first-child {
//           border: none;
//         }
//       }
//     }
//   }

//   &-small {
//     &-close-btn {
//     }

//     &-header {
//       display: flex;
//       justify-content: flex-end;
//       position: relative;
//       margin-block: 1rem;

//       & h1 {
//         flex: 1;
//         text-align: left;
//         margin-right: 1rem;
//         @include style-text(2rem, 600, 3rem, $text-color);

//         @include responsive(xs-screen) {
//           text-align: center;
//           margin-right: 2.4rem;
//         }

//         @include responsive(sm-screen) {
//           font-size: 2.4rem;
//           line-height: 3.4rem;
//         }

//         @include responsive(lg-screen) {
//           font-size: 3rem;
//           line-height: 4rem;
//         }
//       }
//     }
//   }
// }

.modal-container {
  @include fixed(0, 0, 0, 0);
  z-index: 1000;

  & .modal {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include center-absolute();
    z-index: 10;
    background-color: $white;
    overflow: hidden;

    @include responsive(sm-screen) {
      max-width: $content-container-width;
      height: 80vh;
      border-radius: 16px;
    }

    &-close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 100;

      & svg {
        font-size: 3rem;
        color: $text-color;
      }
    }

    &-header {
      height: 60px;
      @include flex(flex-start, center);

      &-close {
        & svg {
          font-size: 3rem;
          color: $text-color;
        }
      }

      &-title {
        flex: 1;
        @include style-text(2rem, 600, 2.8rem, $text-color);
        margin-right: 10px;
      }
    }

    &-body {
      height: calc(100vh - 60px);

      @include responsive(sm-screen) {
        height: calc(80vh - 60px);
      }
    }

    &-no-header {
      & .modal-body {
        height: 100vh;

        @include responsive(sm-screen) {
          height: 80vh;
        }
      }
    }
  }

  & .modal-overlay {
    @include absolute(0, 0, 0, 0);
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.65);
  }
}
