.rides__search-item {
  min-height: 80px;
  cursor: pointer;
  background-color: $white;
  width: 100%;
  padding: 1.6rem 2rem;
  @include style-text(1.6rem, 500, 2.6rem, $text-color);
  border-radius: 8px;
  // @include flex(space-between, center);

  &:hover {
    background-color: $gray-color-2;
  }

  &-info {
    @include flex(flex-start, center);
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: 1rem;
  }

  &-arrow-icon-right {
    display: flex;
    margin-inline: 1rem;
    & svg {
      transform: rotate(180deg);
    }
  }

  &-bottom {
    @include flex(space-between, center);

    &-price {
      @include style-text(1.5rem, 500, 2.5rem, $text-color);
      flex: 1;
    }

    &-btn {
      margin-left: 1rem;
    }
  }
}

.route__item {
  padding: 2rem;
  // border-radius: 0.8rem;
  // box-shadow: $shadow-1;
  @include style-text(1.6rem, 600, 2.2rem, $text-color);

  &-time {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-bottom: 0.6rem;
  }

  &-info {
    position: relative;

    &-line {
      width: 4px;
      background-color: $text-color;
      height: 80%;
      @include vertical-align;

      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 7px;
        height: 7px;
        background-color: $white;
        border-radius: 50%;
        border: 2px solid $text-color;
      }

      &::after {
        top: 0;
      }

      &::before {
        bottom: 0;
      }
    }

    &-from,
    &-to {
      margin-left: 2rem;
    }

    &-from {
      margin-bottom: 1rem;
    }
  }
}

.rides__item {
  padding: 1.4rem;
  box-shadow: $shadow-1;
  border-radius: 16px;
  @include style-text(1.6rem, 600, 2.4rem, $text-color);

  &-top {
    display: flex;

    & .rides__item-info {
      flex: 1;
      margin-right: 1.2rem;
      display: flex;
      margin-bottom: 1rem;

      &-line {
        position: relative;
        top: 0;
        margin-bottom: 10px;
        width: 4px;
        height: 94%;
        background-color: $text-color;
        margin-right: 1.2rem;
        margin-left: 2rem;

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $white;
          border: 2px solid $text-color;
          left: 50%;
          transform: translate(-50%);
        }

        &::after {
          top: 0;
        }

        &::before {
          bottom: 0;
        }
      }

      &-time {
        @include flex(space-between, start);
        flex-direction: column;

        &-start {
          margin-bottom: 1rem;

          &-date {
          }

          &-duration {
            color: $text-color-2;
            font-size: 1.4rem;
            line-height: 1.8rem;
          }
        }

        &-end {
          margin-bottom: 2.4rem;
        }
      }

      &-location {
        flex: 1;

        &-item {
          & .rides__item-info-location-name {
            margin-bottom: 0.4rem;
          }
          &-from {
            margin-bottom: 1rem;
          }
        }

        &-quantity {
          &-item {
            & svg {
              color: $success;
            }
          }
        }
      }
    }
  }

  &-author {
    display: flex;
    &-avatar {
      & .image-container {
        width: 44px;
        height: 44px;

        & img {
          border-radius: 50%;
        }
      }
    }

    &-info {
      flex: 1;
      margin-left: 1.2rem;
      display: flex;

      &-inner {
        flex: 1;
      }

      & .rides__item-price {
        margin-top: auto;
      }

      &-name {
      }

      &-star {
        color: $text-color-2;
        display: flex;
        align-items: center;

        & svg {
          margin-right: 0.4rem;
        }
      }
    }
  }
}
