.rides__search-item {
  min-height: 80px;
  cursor: pointer;
  background-color: $white;
  width: 100%;
  padding: 1.6rem 2rem;
  @include style-text(1.6rem, 500, 2.6rem, $text-color);
  border-radius: 8px;

  &:hover {
    background-color: $gray-color-2;
  }

  &-info {
    @include flex(flex-start, center);
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: 1rem;
  }

  &-arrow-icon-right {
    display: flex;
    margin-inline: 1rem;
    & svg {
      transform: rotate(180deg);
    }
  }

  &-bottom {
    @include flex(space-between, center);

    &-price {
      @include style-text(1.5rem, 500, 2.5rem, $text-color);
      flex: 1;
    }

    &-btn {
      margin-left: 1rem;
    }
  }
}

.rides__item {
  padding: 1.4rem;
  box-shadow: $shadow-1;
  border-radius: 16px;
  @include style-text(1.4rem, 500, 2.2rem, $text-color);
  @include flex(space-between, unset);
  flex-direction: column;

  &-top {
    display: flex;
    margin-bottom: 1rem;
  }

  &-content {
    flex: 1;

    & .rides__item-info {
      margin-bottom: 10px;

      &-item {
        margin-bottom: 10px;
        @include flex(flex-start, center);
        @include style-text(1.3rem, 500, 1.8rem, $text-color);

        &-l {
          @include flex(flex-start, center);
          margin-right: 10px;
          width: 120px;

          & svg {
            margin-right: 4px;
            font-size: 1.6rem;
          }

          & span {
            flex: 1;
          }
        }

        &-r {
        }

        &-price {
          // font-size: 1.4rem;
          // font-weight: 500;
        }
      }

      &-passengers {
        display: flex;
        flex-wrap: wrap;

        &-item {
          margin-right: 4px;
          margin-bottom: 4px;
          color: $success;

          &-active {
            color: $danger;
          }
        }
      }
    }
  }

  &-author {
    display: flex;
    margin-bottom: 10px;

    &-avatar {
      & .image-container {
        width: 44px;
        height: 44px;

        & img {
          border-radius: 50%;
        }
      }
    }

    &-info {
      flex: 1;
      margin-left: 1.2rem;
      display: flex;

      &-inner {
        flex: 1;

        & .rides__item-author-info-name {
          @include limit-line-text(2);
        }
      }

      & .rides__item-price {
        margin-top: auto;
        @include style-text(1.4rem, 600, 2.2rem, $text-color);
      }

      &-name {
      }

      &-star {
        color: $text-color-2;
        display: flex;
        align-items: center;

        & svg {
          margin-right: 0.4rem;
        }
      }
    }
  }

  &-action {
    display: flex;
    justify-content: flex-end;

    & button {
      margin-left: auto;
    }
  }
}
