.route__item {
  flex: 1;
  display: flex;
  position: relative;
  @include style-text(1.5rem, 600, 2.2rem, $text-color);

  &-time {
    @include flex(space-between, start);
    flex-direction: column;
    margin-right: 20px;
    @include style-text(1.4rem, 500, 1.8rem, $text-color);
  }

  &-line {
    position: relative;
    width: 4px;
    background-color: $text-color;
    height: 100%;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $white;
      border: 2px solid $text-color;
      left: 50%;
      transform: translate(-50%);
    }

    &::after {
      top: 0;
    }

    &::before {
      bottom: 0;
    }
  }

  &-r {
    flex: 1;
    margin-left: 16px;
  }

  &-location {
    flex: 1;
    position: relative;
    @include flex(space-between, flex-start);

    &-name {
      & .route-item__location-name {
      }

      & .route-item__location-desc {
        @include style-text(1.4rem, 600, 2rem, $text-color-2);
      }
    }

    &-item {
      @include limit-line-text(2);

      &-from {
        margin-bottom: 20px;
      }
    }

    &-quantity {
      &-item {
        display: flex;
        & svg {
          color: $success;
        }
      }
    }
  }
}
