.home-mobile__container {
  & .home-mobile__header {
    background-color: $primary-color;
    padding-top: 12px;
    padding-bottom: 16px;
    & svg {
      margin-bottom: 2px;
    }

    &-slogan {
      @include style-text(1.2rem, 400, 1.8rem, $white);
    }
  }

  & .home-mobile__content {
    position: relative;
    border-radius: 16px;
    top: -10px;
    background-color: $white;
    padding-block: 12px;

    & .home-mobile__user {
      @include flex(space-between, center);

      &-name {
        @include style-text(1.5rem, 500, 2.3rem, $text-color);
      }

      & .image-container {
        width: 45px;
        height: 45px;
        overflow: hidden;
        border-radius: 50%;
      }
    }

    & .home-mobile__form {
    }
  }
}

.home-mobile__nav {
  display: flex;
  align-items: center;
  padding-block: 12px;
  margin-bottom: 10px;

  &-item {
    margin-right: 28px;
  }
}

.nav__item {
  @include flex-center;
  flex-direction: column;
  // max-width: 80px;

  &-title {
    @include style-text(1.3rem, 600, 1.8rem, $text-color);
    @include limit-line-text(1);
  }

  &-icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: $danger-opacity;
    @include flex-center;
    margin-bottom: 10px;

    & svg {
      font-size: 3rem;
      color: $text-color;
    }
  }
}
