.departure {
  &-location {
    margin-bottom: 1rem;
  }

  &__list {
    &-item {
      border-bottom: 1px solid $gray-color-2;
      padding-block: 0.8rem;

      &:last-child {
        border-bottom: 0;
      }

      & .rides__result-item {
        padding-block: 1rem;

        & .rides__result-item-address-heading {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
    }
  }
}
