.search__page {
  &-form {
    padding-bottom: 3rem;
    // border-bottom: 1px solid $gray-color-2;
  }

  &-result {
    &-list {
      overflow-x: hidden;
      list-style: none;
      overflow-y: auto;

      &-item {
        padding-block: 1rem;
        border-top: 1px solid $gray-color-2;
      }
    }
  }
}
